* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: green;
}

.logo {
    color: white;
    letter-spacing: 3px;
    font-size: 20px;
}

.navLinks {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.navLinks li {
    list-style: none;
}

.burger {
    display: none;
}

.navLinks a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
    transition: all 0.3s ease;
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .navLinks {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 8vh;
        background-color: green;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navLinks li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translate(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}