#card1 {
    width: 30%;
    margin-left: 10px;
}

.pictures {
    margin: 10px;
}

.divItem {
    display: inline-block;
    width: 20%;
    margin: 1%;
}

.call2Main {
    text-align: center;
    display: inline-block;
    width: 40%;
    margin-left: 30%;
}

.call2Heading {
    text-align: center;
}

.badges {
    text-align: center;
    display: inline-block;
    width: 90%;
    margin-left: 5%;
}

.call2Ingredients {
    text-align: center;
    display: inline-block;
    width: 90%;
    margin: 0 auto;
    margin-left: 5%;
}