#card1 {
    width: 30%;
    margin-left: 10px;
}

.pictures {
    margin: 10px;
}

.divItem {
    flex-flow: row wrap;
    width: 300px;
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.call2Main {
    text-align: center;
    display: inline-block;
    width: 90%;
    margin: 0 auto;
    margin-left: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.call2Heading {
    text-align: center;
}
.picture:hover {
    cursor: pointer;
}

.badges {
    text-align: center;
    display: inline-block;
    width: 90%;
    margin: 0 auto;
    margin-left: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.call2Ingredients {
    text-align: center;
    display: inline-block;
    width: 90%;
    margin: 0 auto;
    margin-left: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-bar {
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: rgb(146, 208, 146)
}

#searchBar {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.divItem:hover .picture {
    opacity: 0.3;
  }

.picture {
opacity: 1;
display: block;
width: 100%;
height: auto;
transition: .5s ease;
backface-visibility: hidden;
}

.foodResults {
    float: center;
    padding: 20px;
    word-wrap: normal;
    align-items: stretch;
}

.initialResults {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    
}

.productSelection, .searchForFood {
    color: dark rgb(46, 46, 46);
}

.productSelection, .productResults {
    margin-left: 10px;
}

.titleInitial {
    width: 100%;
}