        body {
            background-image: url("https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        }
        /* #resultNumber {
            display: inline-block;
            text-align: center;
        }
        
        #resultsContainer {
            border: 10px solid salmon;
            float: right;
        }
        
        h1 {
            font-size: large
        }
        
        h2 {
            font-size: medium
        }
        
        img {
            float: left
        } */