.mainDiv3 {
  width: 80%;
  display: inline-block;
  margin-left: 10%;
  margin-top: 20px;
}

#panel4c, #panel3c, #panel2c, #panel1c {
  background-color:rgb(239, 243, 243);
}

.mainContainer {
  text-align: center;
}

.mainCard1 {
  width: 30%;
  display: inline-block;
  margin-right: 2%;
  text-align: center;
  background-color: rgb(189, 189, 189);
  border: 1 rem solid;
  border-radius: 10px;
}

.smallImages {
  display: inline-block;
  margin: 10px;
}

.button {
   margin: 10px;
  width: 150px;
  padding: 25px;
  border-radius: 10px;
  color:white; 
}

#selectRecipes3 {
  width: 300px;
}

.testing1 {
  text-align: center;
}

/* #meal {
    text-align: center;
} */

.mainDiv1 {
  display: inline-block;
  width: 80%;
  margin: 1%;
  border: solid white;
  margin:10px;
  padding:10px;
  border-radius: 10px;
  background-color: white;
}

.equip12 {
  display: inline-block;
  border: solid white;
  background-color: white;

}

.mainDiv2 {
  display: inline-block;
  width: 30%;
  margin: 1%;
 
}

#savedRecipes {
  margin-left: 10%;
  width: 80%;
  display: inline-block;
}

#savedSearches {
  text-align: center;
}

.saveButton {
  /* display: inline-block; */
  float: right;
  /* background: url(../images/save.png);
    background-size: cover; */
  padding: 10px;
  font-size: 30px;
  color: white;
}

.saveButton:hover {
  transform: scale(1.4);
}

.priceButton {
  display: inline-block;
  color: white;
}

.equipDiv {
  display: inline-block;
  margin: 10px;
}

.test {
  vertical-align: top;
  display: inline-block;
}

.forEquip2 {
  border-radius: 10px;
}

.forEquip1 {
   
  border: solid white;
  border-radius: 10px;
  background-color: white;
  display: inline-block;
  align-content: center;
  justify-content: center;

}  

.tester {
  display: inline-block;
  margin: 10px;
}

.foodListItem {
  font-size: 30px;
}

.recipeIngred {
  background-color: white;
  border-radius: 10px;
}

.error {
  
  background-color: rgb(214, 69, 69);
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  font-size: 20px;
}

.panel1 {

 align-items:center;
 justify-content: center; 
 margin: auto;
 
  

}
.finalPage {
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  
}

.second2 {
  text-align: center;
}

.second3 {
  margin-left: 20%;
}

/* .grid-container {
  margin: auto;
  width: 50%;
} */
.stepP {
  text-align: center;
}

.mainDiv1 {
  text-align: center;
}
.mainDiv {
  display: inline-block;
} 