#panel1c {
    background-color: rgb(189, 189, 189);
}

.mainDiv3 {
    width: 80%;
    display: inline-block;
    margin-left: 10%;
    margin-top: 20px;
}

.mainContainer {
    text-align: center;
}

.mainCard1 {
    width: 30%;
    display: inline-block;
    margin-right: 2%;
    text-align: center;
    background-color: rgb(189, 189, 189);
    border: 1 rem solid;
}

.smallImages {
    display: inline-block;
}